@-webkit-keyframes bounce {
  0%    { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70%   { -webkit-transform: translateY(30px); transform: translateY(30px);    }
  90%   { -webkit-transform: translateY(-15px); transform: translateY(-15px);   }
  100%  { -webkit-transform: translateY(0); transform: translateY(0);       }
}

@keyframes bounce {
  0%    { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70%   { -webkit-transform: translateY(30px); transform: translateY(30px);    }
  90%   { -webkit-transform: translateY(-15px); transform: translateY(-15px);   }
  100%  { -webkit-transform: translateY(0); transform: translateY(0);       }
}

@-webkit-keyframes shake {
  0%, 100%{ -webkit-transform: translateX(0); transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(10px); transform: translateX(10px);}
  20%, 40%, 60%, 80% { -webkit-transform: translateX(-10px); transform: translateX(-10px);}
}

@keyframes shake {
  0%, 100%{ -webkit-transform: translateX(0); transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(10px); transform: translateX(10px);}
  20%, 40%, 60%, 80% { -webkit-transform: translateX(-10px); transform: translateX(-10px);}
}

*, *::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url(../img/general/index-bg.jpg) top center no-repeat;
}

main {
  display: block;
}

.inner-page {
  color: #000000;
  background: #d7d5d2 url(../img/general/index-item-bg.jpg) repeat;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

.btn {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover,
.btn:focus {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: default;
  outline: none;
}

.section__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.block__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
}

/* HEADER */

.main-header {
  margin-bottom: 75px;
}

.main-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
}

.main-header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 371px;
  height: 155px;
}

.nav__wrap {  
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
}

.nav__wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-pack: justify;  
      -ms-flex-pack: justify;  
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 620px;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 140px;
}

.nav__item--current {
  position: relative;
}

.nav__item--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.nav__link,
.user-block__link {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
}

.nav__link:hover,
.user-block__link:hover,
.nav__link:focus,
.user-block__link:focus {
  background-color: #242424;
}

.nav__item--current .nav__link:not([href]) {
  background-color: #000000;
}

.user-block__link {
  position: relative;
  padding-left: 50px;
}

.user-block__link::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 20px;
  width: 16px;
  height: 16px;
  background: url(../img/svg/login.svg) 0 0 no-repeat;
  opacity: 0.3;
}

.user-block__link:hover::before,
.user-block__link:focus::before {
  opacity: 1;
}

/* FEATURES */

.features {
  margin-bottom: 80px;  
}

.features__list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: 300px;
}

.feature__title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;  
}

.feature__title::after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.feature__text {
  margin: 0;
  padding: 0 10px;
}

/* INDEX-BLOCK */

.index-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #f8f5f2;
  background-image: url(../img/general/vertical-separator.png),
                    url(../img/general/index-item-bg.jpg);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.news,
.contacts {
  width: 380px;
}

.gallery,
.subscribe {
  width: 300px;
}

/* NEWS */

.news__item {
  margin-bottom: 25px;
}

.item-news__text {
  margin: 0px;
  margin-bottom: 5px;
}

.item-news__date {
  text-transform: none;
}

/* GALLERY */

.gallery__container {
  position: relative;
  height: 260px;
}

.gallery-content {
  width: 300px;
  height: 178px;
  margin: 0;
  background-color: #e5e5e5;
  border: 7px solid #ffffff;
}

.gallery-content__img {
  width: 286px;
  height: 164px;
}

.gallery-content__navigation {
  position: absolute;
  bottom: 0;
  width: 140px;
}

.gallery-content__navigation--prev {
  left: 0;
}

.gallery-content__navigation--next {
  right: 0;
}

/* CONTACTS */

.contacts__text {
  margin: 0;
  margin-bottom: 25px;
}

.contacts__text a {
  color: #000000;
}

/* SUBSCRIBE */

.subscribe__text {
  margin: 0;
  margin-bottom: 15px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe-form__field {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.subscribe-form__title {
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
}

.subscribe-form__input {
  width: 100%;
  padding: 8px 15px;  
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
}

.subscribe-form__input:focus{
  border-color: #663d15;
}

.subscribe-form__send {
  width: 100%;
  margin-top: 20px;
}

/* FOOTER */

.main-footer {
  margin-top: 65px;
  padding: 60px 0;
  color: #ffffff;
  background: #212121 url(../img/general/footer-bg.jpg) 0 0 repeat;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer a {
  color: #ffffff;
}

/* FOOTER-CONTACTS */

.main-footer__contacts {
  width: 320px;
  margin: 0; 
  margin-right: 80px;
}

.main-footer__contacts-find {
  text-decoration: underline;
}

.main-footer__contacts-find:hover,
.main-footer__contacts-find:focus {
  text-decoration: none;
}

/* FOOTER_SOCIALS */

.main-footer__socials {
  text-align: center;
  width: 140px;
}

.socials__title {
  display: block;
  margin-bottom: 15px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  background: #000000;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #ffffff;
} 
.socials__link:hover path,
.socials__link:focus path {
  fill: #000000;
} 

/* FOOTER-COPYRIGHT */

.copyright__link:hover,
.copyright__link:focus {
  color: #000000;
  background-color: #ffffff;
}

.main-footer__copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.copyright__title {
  display: block;
  margin-bottom: 15px;
}

/* MODAL */

.modal {
  display: block;
  visibility: hidden;
  /* display: none; */
  position: fixed;
  z-index: 2;
  color: #000000;
  background: #d7d5d2 url(../img/general/index-item-bg.jpg) 0 0 repeat;
}

.modal-show {
  visibility: visible;
  /* display: block; */
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

/* MODAL-LOGIN */

.modal-login {
  top: 150px;
  left: 50%;
  margin-left: -230px;
  width: 460px;
  padding: 50px 80px;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7)
}

.modal-login__title {
  margin-bottom: 20px;
}

.modal-login__text {
  margin: 0;
  margin-bottom: 10px;
}

.login-form__field {
  margin: 0;
  margin-bottom: 10px;
}

.login-form__field--remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-form__field--remember .login-form__title {
  padding-left: 30px;
}

.login-form__title {
  position: relative;
}

.login-form__title:hover {
  color: #663d15;
}

.login-form__input {
  width: 100%;
  padding: 10px 15px;
  padding-right: 45px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
}

.login-form__input:focus {
  border-color: #663d15;
}

.login-form__title:hover .custom-checkbox,
.login-form__input:focus + .custom-checkbox {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-form__input:checked + .custom-checkbox::before,
.login-form__input:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.login-form__input--name {
  background: url(../img/svg/user.svg) 270px center no-repeat;
}

.login-form__input--password {
  background: url(../img/svg/password.svg) 270px center no-repeat;
}

.login-form__link {
  margin-left: auto;
  color: #000000;
  text-decoration: underline;
}

.login-form__link:hover {
  text-decoration: none;
}

.login-form__send {
  width: 100%;
}

/* MODAL-MAP */

.modal-map {
  top: 150px;
  left: 50%;
  margin-left: -360px;
  width: 780px;
  height: 574px;
  border: 7px solid #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7)
}

.modal-map__content {
  margin: 0;
}

/* MODAL-OVERLAY */

.modal::before {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* INNER-PAGES */

.inner-page .main-header {
  margin-bottom: 55px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page .main-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inner-page .main-header__logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 111px;
  height: 24px;
  margin-right: 20px;
}

.inner-page .user-block {
  margin-left: auto;
}

.inner-page .main-footer {
  margin-top: 50px;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.main-content__title {
  margin-bottom: 25px;
}

/* BREADCRUMBS */

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs__item-current {
  opacity: 0.5;
}


.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -25px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
}

/* PRODUCT */

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__photos {
  width: 460px;
}

.product__main-photo {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preload__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preload__item {
  width: 140px;
  height: 149px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product__info {
  width: 390px;
}

.product__info-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 35px;
}

.product__article {
  color: #aeaeae;
}

.product__description {
  margin: 0;
  margin-bottom: 35px;
}

.product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  margin: 0;
  margin-bottom: 65px;
}

.product__price {
  text-align: center;
  min-width: 110px;
  padding: 10px 10px;
  background-color: #e5e5e5;
}

.product__buy {
  width: 80px;
  padding: 10px;
}

.includes__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
}

.includes__item {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
}

.includes__item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

/* CATALOG */

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__sort {
  width: 220px;
}

.form-sort__block {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  border: none;
}

.form-sort__block-title {
  margin-bottom: 30px;
}

.form-sort__item {
  position: relative;
  margin-bottom: 17px;
  padding-left: 45px;
}

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  cursor: pointer;
}

.custom-checkbox::before {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg)
}

.custom-checkbox::after {
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg)
}

.form-sort__checkbox:checked + label .custom-checkbox::before,
.form-sort__checkbox:checked + label .custom-checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.form-sort__radio:checked + label .custom-radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
}

.form-sort__item label {
  font-size: 14px;
  line-height: 18px;
}

.form-sort__item label:hover,
.form-sort__checkbox:focus + label,
.form-sort__radio:focus + label {
  color: #663d15;
}

.form-sort__item label:hover .custom-checkbox,
.form-sort__item label:hover .custom-radio,
.form-sort__checkbox:focus + label .custom-checkbox,
.form-sort__radio:focus + label .custom-radio {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.form-sort__item label:hover .custom-radio::before,
.form-sort__radio:focus + label .custom-radio::before,
.form-sort__checkbox:checked + label:hover .custom-checkbox::before,
.form-sort__checkbox:checked + label:hover .custom-checkbox::after,
.form-sort__checkbox:focus + label .custom-checkbox::before,
.form-sort__checkbox:focus + label .custom-checkbox::after {
  background-color: #663d15;
}

.form-sort__item input:disabled + label {
 color: #aeaeae;
}

.catalog__content {
  width: 700px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;  
  margin-bottom: 25px;
}

.product-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.product-item__title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 15px;
}

.product-item__img {
  width: 220px;
  height: 165px;
  margin: 0;
  margin-bottom: 15px;
  background-color: #e5e5e5;
}

.product-item__cart {
  padding: 0 15px;
}

.product-item__type {
  display: block;
  text-transform: none;
}

.product-item__cart.product__cart {
  margin-bottom: 15px;
}

.product-item__brand {
  display: block;
}

.catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  padding: 10px;
}

.pagination__link--current {
  color: #000000;
  background-color: #ffffff;
}

.pagination__link--current:hover,
.pagination__link--current:focus {
  color: #ffffff;
}

/* PRICE */

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 70px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.price-list__title::before,
.price-list__title::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 2px;
  background-color: #000000;
}

.price-list__title::before {
  margin-right: 25px;
}

.price-list__title::after {
  margin-left: 25px;
}

.we-use,
.price {
  width: 460px;
  margin-bottom: 65px;
}

.we-use__item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.we-use__item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.about-us {
  width: 100%;
}

.about-us__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us__text {
  width: 380px;
  margin: 0;
  margin-right: 80px;
}

.price__table {
  width: 100%;
  border-collapse: collapse;
}

.price__table tr,
.price__table td {
  border: 2px solid #000000;
}

.price__table td {
  width: 50%;
  padding: 9px 15px;
}

.price__table td:nth-child(2n) {
  text-align: center;
}